@using Secyud.Secits.Blazor.Data

@attribute [Route(Menu.Table)]

<SCard>
    <Body>
    <SFormLayout>
    </SFormLayout>
    </Body>
</SCard>

<SCard>
    <Body>
    <STable TValue="ListItem">
        <StaticDataSource Items="_list"/>
        <EnableIteratorVisualize/>
        <EnableColumnResize/>
        <TableColumn Caption="@nameof(ListItem.Name)"
                     ValueField="@(item => item.Name)"/>
        <TableColumn Caption="@nameof(ListItem.PhoneNumber)"
                     ValueField="@(item => item.PhoneNumber)"/>
        <TableColumn Caption="@nameof(ListItem.Age)"
                     ValueField="@(item => item.Age)"/>
        <TableColumn Caption="@nameof(ListItem.BirthDate)"
                     ValueField="@(item => item.BirthDate)"
                     Format="yyyy MM dd hh mm ss"/>
    </STable>
    </Body>
</SCard>

@code {
    readonly List<ListItem> _list = ListItem.Generate(200);

}