@attribute [Route(Menu.Button)]
@{
    foreach (var shadow in Bool)
    foreach (var angular in Bool)
    foreach (var rounded in Bool)
    foreach (var borderless in Bool)
    foreach (var backless in Bool)
    {
        <SCard>
            <SCardHeader>
                @(shadow ? "有阴影" : "无阴影")
                @(angular ? "直角" : "圆角")
                @(rounded ? "图标" : "按钮")
                @(borderless ? "无边" : "有边")
                @(backless ? "无背景" : "有背景")
            </SCardHeader>
            <SCardBody>
                @foreach (var size in Sizes)
                {
                    <br/>
                    <label>@size</label>
                    <br/>
                    foreach (var theme in Themes)
                    {
                        <SButton Theme="theme" Size="size" Shadow="shadow" Angular="angular"
                                 Rounded="rounded" Borderless="borderless" Background="backless">
                            @theme
                        </SButton>
                    }
                }
            </SCardBody>
        </SCard>
    }
}

@code
{
    Theme[] Themes { get; } =
    [
        Theme.Primary, Theme.Secondary, Theme.Success, Theme.Info,
        Theme.Warning, Theme.Danger, Theme.Light, Theme.Dark
    ];

    Size[] Sizes { get; } =
    [
        Size.XSmall, Size.Small, Size.Default, Size.Large, Size.XLarge
    ];

    bool[] Bool { get; } =
    [
        false, true
    ];
}
