@namespace Secyud.Secits.Blazor.Components
@inherits ScSelectableBase<TItem, TValue>
@typeparam TItem
@typeparam TValue

@(GenerateSettingContent<ITable<TItem>>())

@{
    base.BuildRenderTree(__builder);
}

@code
{
    protected override RenderFragment GenerateChildContent() => __builder =>
    {
        <table>
            @GenerateHeader()
            @GenerateBody()
        </table>
    };

    private RenderFragment GenerateHeader() => __builder =>
    {
        <thead>
        @if (RenderHeader())
        {
            <tr>
                @foreach (var column in Columns)
                {
                    <th>
                        @column.GenerateHeader()
                    </th>
                }
            </tr>
        }
        @if (RenderFilter())
        {
            <tr>
                @foreach (var column in Columns)
                {
                    <th>
                        @column.GenerateFilter()
                    </th>
                }
            </tr>
        }
        </thead>
    };

    private RenderFragment GenerateBody() => __builder =>
    {
        if (Items is null || !Items.Any()) return;
        <tbody>
        @foreach (var item in Items)
        {
            var currentItem = item;
            var @class = IsItemSelected(item) ? "selected" : null;

            <tr class="@(@class)" @onclick="()=>OnItemActivateChangedAsync(currentItem)">
                @foreach (var column in Columns)
                {
                    <td>
                        @column.GenerateBody(item)
                    </td>
                }
            </tr>
        }
        </tbody>
    };
}
