@namespace Secyud.Secits.Blazor.Components
@inherits SList<TItem>
@typeparam TItem

@{
    base.BuildRenderTree(__builder);
}

@code
{
    protected override RenderFragment GenerateBodyContent() => __builder =>
    {
        @if (!DisableHeader)
        {
            <table class="table-header">
                <thead>
                @GenerateHeader()
                </thead>
            </table>
        }

        <div class="table-body">
            <table>
                <tbody>
                <tr>
                    @foreach (var column in _columns)
                    {
                        <td style="--col-width: @column.GetColumnWidth()px;"/>
                    }
                </tr>
                @ItemsRenderer?.GenerateItemsContent()
                </tbody>
            </table>
        </div>
        @if (!DisableFooter)
        {
            <table class="table-footer">
                <tfoot>
                @GenerateFooter()
                </tfoot>
            </table>
        }
    };

    private RenderFragment GenerateHeader() => __builder =>
    {
        <tr>
            @foreach (var column in _columns)
            {
                <th style="--col-width: @column.GetColumnWidth()px;"
                    @onmousedown="_ => BeginDragColumnHeader(TableDragEventType.ColumnResize, column)">
                    @column.GenerateHeader()
                </th>
            }
        </tr>
    };

    private RenderFragment GenerateFooter() => __builder =>
    {
        <tr>
            @foreach (var column in _columns)
            {
                <td style="--col-width: @column.GetColumnWidth()px;">
                    @column.GenerateFooter()
                </td>
            }
        </tr>
    };

    public override RenderFragment GenerateRow(TItem item) => __builder =>
    {
        <tr class="@(RowClass(item))" @onclick="() => OnItemActivateChangedAsync(item)">
            @foreach (var column in _columns)
            {
                <td>
                    @column.GenerateColumn(item)
                </td>
            }
        </tr>
    };
}
