@namespace Secyud.Secits.Blazor.Components
@inherits ScList<TItem, TValue>
@typeparam TItem
@typeparam TValue

@{
    base.BuildRenderTree(__builder);
}

@code
{
    protected override RenderFragment GenerateBodyContent() => __builder =>
    {
        <table>
            @if (!DisableHeader)
            {
                <thead>
                @GenerateHeader()
                </thead>
            }
            <tbody>
            @ItemsRenderer?.GenerateItemsContent()
            @GenerateFooter();
            </tbody>
        </table>
    };

    private RenderFragment GenerateHeader() => __builder =>
    {
        <tr class="table-header">
            @foreach (var column in _columns)
            {
                <th>
                    @column.GenerateHeader()
                </th>
            }
        </tr>
    };

    private RenderFragment GenerateFooter() => __builder =>
    {
        if (DisableFooter) return;
        <tr class="table-footer">
            @foreach (var column in _columns)
            {
                <td>
                    @column.GenerateFooter()
                </td>
            }
        </tr>
    };

    public override RenderFragment GenerateRow(TItem item) => __builder =>
    {
        <tr class="table-row@(RowClass(item))" @onclick="() => OnItemActivateChangedAsync(item)">
            @foreach (var column in _columns)
            {
                <td>
                    @column.GenerateColumn(item)
                </td>
            }
        </tr>
    };
}
