@namespace Secyud.Secits.Blazor
@inherits SContentBase

@{
    base.BuildRenderTree(__builder);
}

@code
{
    protected override RenderFragment GenerateChildContent() => __builder => { @GenerateBody() };

    protected override RenderFragment GenerateContent() =>
        __builder =>
        {
            @GenerateHeader()
            <div class="@GetClass()" style="@GetStyle()" @onclick="OnClick">
                @GenerateChildContent()
            </div>
            @GenerateFooter()
        };
}

