@namespace Secyud.Secits.Blazor
@inherits SContentBase

@GenerateHeader()
@if (Disabled || Readonly)
{
    <div class="@GetClass()" style="@GetStyle()" @onclick:stopPropagation>
        @GenerateChildContent()
    </div>
}
else
{
    <div class="@GetClass()" style="@GetStyle()" @onclick="OnClick" @onclick:stopPropagation>
        @GenerateChildContent()
    </div>
}
@GenerateFooter()

@code
{
    protected override RenderFragment? GenerateChildContent() => GenerateBody();
}

