@namespace Secyud.Secits.Blazor
@using Secyud.Secits.Blazor.Icons
@inherits SLayoutPluginBase<SActivableBase>


@code
{
    public override RenderFragment RenderTemplate() => __builder =>
    {
        <SIcon IconName="@IconProvider.GetIcon(IconType.DropDown)"
               OnClick="@(_ => _isDropDownVisible = !_isDropDownVisible)"
               Class="@GetClass()" Style="@GetStyle()"></SIcon>

        @if (_isDropDownVisible)
        {
            <div class="dropdown-content @ContentClass" style="@ContentStyle">
                @ChildContent
            </div>
        }
    };
}
