@namespace Secyud.Secits.Blazor
@inherits SIteratorBase<TValue>
@typeparam TValue


@((RenderFragment)base.BuildRenderTree)

@code
{
    protected override RenderFragment GenerateBody() => __builder => { @ItemsRenderer.Get()?.GenerateItems(GenerateRow) };

    protected virtual RenderFragment GenerateRow(TValue value) =>
        __builder =>
        {
            <div class="@GetRowClass(value)" style="@GetRowStyle(value)" @onclick="e => OnRowClick(e, value)">
                @foreach (var col in Columns)
                {
                    @col.GenerateColumn(value)
                }
            </div>
        };
}
