@namespace Secyud.Secits.Blazor

@GenerateSettingContent()
@GenerateContent()

@code
{
    protected virtual RenderFragment GenerateContent() =>
        @<div class="@GetClass()" style="@GetStyle()" s>
            @GenerateChildContent()
        </div>;

    protected virtual RenderFragment? GenerateChildContent() => null;

    protected virtual RenderFragment? GenerateSetting() => null;

    protected RenderFragment GenerateSettingContent() =>
        @<CascadingValue TValue="SSettingMaster" Value="_settingMaster" IsFixed>
            @GenerateSetting()
            @ChildContent
        </CascadingValue>;
}
