@namespace Secyud.Secits.Blazor

@GenerateSettingContent()
@GenerateContent()

@code
{
    protected virtual RenderFragment GenerateContent() =>
        @<div class="@GetClass()" style="@GetStyle()">
            @GenerateChildContent()
        </div>;

    protected virtual RenderFragment? GenerateChildContent() => null;

    protected virtual RenderFragment? GenerateSetting() => ChildContent;

    protected virtual RenderFragment GenerateSettingContent() =>
        @<CascadingValue Value="PluggableContainer" IsFixed>
            @GenerateSetting()
        </CascadingValue>;
}
